/* =================================================== 
ESTILO.CSS — [PenteFino] — [Fake News & Desinformação] 
Grupo: [
        Cauan Victor Andrade Cavalcanti
        Miguel Godke Silva
        Enzo Oliveira Ricci
] 
Data: [25/06/2026] 
=================================================== */ 
/* === 1. VARIAVEIS GLOBAIS (TOKENS DE DESIGN) === */ 

/* Jeito mais facil --->>> */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:wght@400;700&family=Oswald:wght@400;600&family=Poppins:wght@300;400;500;600;700&display=swap');

:root { --cor-primaria: #1E3A5F; 
        --cor-secundaria: #E5E7EB;
        --cor-terciaria: #F97316;
        --cor-de-link: #a1a4d8;

    /* Fontes */
    --font-principal: 'Poppins', sans-serif;
    --font-secundaria: 'Merriweather', serif;
    --font-propaganda: 'Bebas Neue', sans-serif;
    --font-alerta: 'Oswald', sans-serif;

    /* Cores */
        --cor-primaria: #1E3A5F; 
        --cor-secundaria: #E5E7EB;
        --cor-terciaria: #F97316;

/* 
 -> AZUL ESCURO: 60% DO SITE // CINZA CLARO: DEIXAR MAIS BONITO // LARANJA: APENAS QUANDO HÁ ALERTA
 */ 
} 
/* === 2. RESET E BASE === */ 
*, *::before, *::after { box-sizing: border-box; } 
html { font-size: 1rem; } 

/* BODY */
body {
    background-color: var(--cor-secundaria);
}

/* LINK BASE PARA NÃO PRECISAR BOTAR HOVER TODA HORA*/
a {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-principal);
    cursor: pointer;
    transition: 0.3s;
}
a:hover {
    color: var(--cor-de-link);
    font-weight: bold;
    font-size: 1.1em;
}



.importante {
    color: var(--cor-terciaria);
}

/* === 3. TIPOGRAFIA === */ 
h1 {
    margin: 0;
    color: var(--cor-terciaria);
    font-family: var(--font-principal);
}
h2 {
    margin: 0;
    color: var(--cor-secundaria);
}
p {
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}
.subtitlehero {
    font-family: var(--font-principal);
    font-weight: 200;
    color: var(--cor-terciaria);
    
}

.tituloofc {
    font-weight: 800;
}

/* === 4. COMPONENTES REUTILIZAVEIS === */ 

/* botoes, cards, badges, etc. */ 

/* === 5. CABECALHO E NAVEGACAO === */ 

    
header {
    height: 80px;
}
nav {
    background-color: var(--cor-primaria);
    height: 80px;
    padding: 10px;
    position: fixed;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow:hidden;
    align-items: center;
    gap: 20px;
    justify-content: center;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1000;
    
}
.barra {
    width: 2px;
    height: 50px;
    background-color: var(--cor-secundaria);
}
main {
    min-height: 500px;
}


/* === 6. HERO (PAGINA HOME) === */

.hero {
    display: inline-block;
    min-height: 400px;
    background-color: var(--cor-primaria);
    margin: 0.2px;
    padding: 15px;
    border-radius: 12px;
    min-width: 1000px;
    max-width: 1200px;
    max-height: 800px;
}

#pedohero {
    margin: 10px;
}

.cta {
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    border: var(--cor-secundaria);
    border-radius: 8px;
    margin: 10px;
    font-size: 1rem;
    padding: 10px;
}

/* === 7. PAGINA HOME === */ 

/* === 8. PAGINA SOBRE === */ 

/* === 9. PAGINA TEMA === */ 

/* === 10. PAGINA MIDIA === */ 

/* === 11. PAGINA CONTATO === */ 

/* === 12. PAGINA EXTRA === */ 

/* === 13. RODAPE === */ 

footer {
    background-color: var(--cor-primaria);
    height: 80px;
    padding: 10px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow:hidden;
    align-items: center;
    gap: 15px;
    justify-content: left;
    display: flex;
    
}
.credits {
    font-family: var(--font-alerta);
    font-size: 0.7rem;
    font-weight: 100;
}

/* === 14. RESPONSIVIDADE (MEDIA QUERIES) === */ 
